.user-map-marker{


    width:58px;
    height:58px;


    position:relative;


    border-radius:50%;


    padding:3px;


    background:var(--primary);


    box-shadow:

    0 0 25px rgba(108,59,255,.8);


}



.user-map-marker img{


    width:100%;

    height:100%;


    border-radius:50%;


    object-fit:cover;


    border:3px solid white;


}



.user-map-marker__live{


    position:absolute;


    right:-8px;

    bottom:-5px;


    width:26px;

    height:26px;


    display:flex;

    align-items:center;

    justify-content:center;


    border-radius:50%;


    background:

    var(--surface);


    font-size:14px;

}