.user-marker{

    position:relative;

    width:60px;
    height:60px;

}


.user-marker__pulse{

    position:absolute;

    width:60px;
    height:60px;

    border-radius:50%;

    background:rgba(108,59,255,.35);

    animation:pulse 2s infinite;

}


.user-marker__avatar{

    position:absolute;

    top:10px;
    left:10px;

    width:40px;
    height:40px;

    border-radius:50%;

    background:var(--primary);

    border:3px solid white;

    box-shadow:
        0 0 20px var(--primary);

}



@keyframes pulse{

    0%{
        transform:scale(.8);
        opacity:.8;
    }


    100%{
        transform:scale(2);
        opacity:0;
    }

}